body {
  margin: 0;
}
.header {
  display: flex;
}
.header__list {
  list-style-type: none;
  margin-left: 10px;
}
.header__item {
  display: flex;
}
.header__nav {
  margin-top: 10px;
}
.header__logo img {
  height: 50px;
  margin-left: 20px;
  margin-top: 10px;
}
.header__list a {
  text-decoration: none;
  color: black;
}
.section {
  margin-top: 30px;
  background-color: #f0f0f0;
  max-width: 1900px;
  margin: auto;
}
.section__wall span {
  background-color: grey;
  color: white;
  padding: 10px;
  margin-left: 10px;
}
.section__list {
  list-style-type: none;
  margin-left: 20px;
  background-color: pink;
  padding: 10px;
}
.section__item {
  display: flex;
}
.section__nav {
  margin-right: 10px;
}
.section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__container {
  max-width: 1900px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "first second third fourth fifth sixth"
    "seventh seventh eighth eighth ninth ninth"
    "seventh seventh eighth eighth ninth ninth"
    "tenth eleventh twelfth thirteenth Fourteenth Fourteenth"
    "Fifteenth Fifteenth sixteenth Seventeenth Fourteenth Fourteenth"
    "Fifteenth Fifteenth Eighteenth Nineteenth Twentieth Twentieth "
    "Twenty-first Twenty-second Twenty-third Twenty-third Twentieth Twentieth "
    "Twenty-fourth Twenty-fourth Twenty-third Twenty-third Twenty-fifth Twenty-sixth "
    "Twenty-fourth Twenty-fourth Twenty-seventh Twenty-eighth Twenty-ninth Thirtieth  "
    "Thirty-first Thirty-second Thirty-third Thirty-fourth Thirty-fifth Thirty-sixth "
    "Thirty-seventh Thirty-seventh Thirty-eighth Thirty-ninth Forty forty-first "
    "Thirty-seventh Thirty-seventh forty-second forty-third forty-fourth forty-fourth "
    "forty-fifth forty-fifth forty-sixth forty-seventh forty-fourth forty-fourth "
    "forty-fifth forty-fifth forty-eighth forty-eighth forty-ninth Fiftieth "
    "Fiftieth-first Fiftieth-second forty-eighth forty-eighth Fiftieth-third Fiftieth-third "
    "Fiftieth-fourth Fiftieth-fifth Fiftieth-sixth Fiftieth-sixth Fiftieth-third Fiftieth-third "
    "Fiftieth-seventh Fiftieth-eighth Fiftieth-sixth Fiftieth-sixth Fiftieth-ninth sixstieth";
}
.main__item:nth-child(1) {
  grid-area: first;
  background-color: black;
}
.main__item:nth-child(2) {
  grid-area: second;
  background-image: url(http://demo.uncommons.pro/themes/wp/random/site/wp-content/uploads/2014/06/img87-290x200.png);
  background-size: cover;
  background-position: center;
}

.main__item:nth-child(3) {
  grid-area: third;
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
}
.main__item:nth-child(4) {
  grid-area: fourth;

  background-image: url(https://images.unsplash.com/photo-1614794447777-63bd5f669437?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80);
  background-size: cover;
  background-position: center;
}
.main__item:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1593642702821-c8da6771f0c6?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-position: center;
  grid-area: fifth;

  background-image: url(https://images.unsplash.com/photo-1614633673914-0af3eae06970?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
}
.main__item:nth-child(6) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: sixth;
}
.main__item:nth-child(7) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: seventh;
  background-color: red;
}

.main__item:nth-child(8) {
  background-image: url(https://images.unsplash.com/photo-1614633673914-0af3eae06970?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: eighth;
}
.main__item:nth-child(9) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: ninth;
}
.main__item:nth-child(10) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: tenth;
}
.main__item:nth-child(11) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: eleventh;
}
.main__item:nth-child(12) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: twelfth;
}
.main__item:nth-child(13) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: thirteenth;
}
.main__item:nth-child(14) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fourteenth;
}
.main__item:nth-child(15) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fifteenth;
}
.main__item:nth-child(16) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: sixteenth;
}

.main__item:nth-child(17) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Seventeenth;
}
.main__item:nth-child(18) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Eighteenth;
}
.main__item:nth-child(19) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Nineteenth;
}
.main__item:nth-child(20) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twentieth;
  background-color: white;
}
.main__item:nth-child(21) {
  background-image: url(https://images.unsplash.com/photo-1545559054-8f4f9e855781?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-first;
}

.main__item:nth-child(22) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-second;
}
.main__item:nth-child(23) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-third;
}
.main__item:nth-child(24) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-fourth;
}
.main__item:nth-child(25) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-fifth;
}
.main__item:nth-child(26) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-sixth;
}
.main__item:nth-child(27) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-seventh;
}
.main__item:nth-child(28) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-eighth;
}
.main__item:nth-child(29) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Twenty-ninth;
}
.main__item:nth-child(30) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirtieth;
}
.main__item:nth-child(31) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-first;
}
.main__item:nth-child(32) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-second;
}
.main__item:nth-child(33) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-third;
}
.main__item:nth-child(34) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-fourth;
}
.main__item:nth-child(35) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-fifth;
}
.main__item:nth-child(36) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-sixth;
}
.main__item:nth-child(37) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-seventh;
}
.main__item:nth-child(38) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-eighth;
}
.main__item:nth-child(39) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Thirty-ninth;
}
.main__item:nth-child(40) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Forty;
}
.main__item:nth-child(41) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-first;
}
.main__item:nth-child(42) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-second;
}
.main__item:nth-child(43) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-third;
}
.main__item:nth-child(44) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-fourth;
}
.main__item:nth-child(45) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-fifth;
}
.main__item:nth-child(46) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-sixth;
}
.main__item:nth-child(47) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-seventh;
}
.main__item:nth-child(48) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-eighth;
}
.main__item:nth-child(49) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: forty-ninth;
}
.main__item:nth-child(50) {
  background-image: url(https://images.unsplash.com/photo-1529686342540-1b43aec0df75?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth;
}
.main__item:nth-child(51) {
  background-image: url(https://images.unsplash.com/photo-1612832020223-a496c2b69497?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-first;
}
.main__item:nth-child(52) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-second;
}
.main__item:nth-child(53) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-third;
}
.main__item:nth-child(54) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-fourth;
}
.main__item:nth-child(55) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-fifth;
}
.main__item:nth-child(56) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-sixth;
}
.main__item:nth-child(57) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-seventh;
}
.main__item:nth-child(58) {
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  grid-area: Fiftieth-eighth;
}
.main__item:nth-child(59) {
  grid-area: Fiftieth-ninth;
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;

  text-align: center;
  padding-top: 10px;
}
.main__item:nth-child(60) {
  grid-area: sixstieth;
  background-image: url(https://images.unsplash.com/photo-1601054578112-7fb1d6ab06d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10px;
}
.footer {
  margin-top: 10px;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-auto-flow: row;
  grid-auto-rows: minmax(350px, auto);
  grid-gap: 10px;
}
.footer__item {
  background-image: url(https://images.unsplash.com/photo-1610963196817-7d1415647029?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: center;
}
