@media only screen and (max-width: 375px) {
  .section {
    display: none;
  }
  .main__container {
    width: 200px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth"
      "fifth"
      "sixth"
      "seventh"
      "eighth"
      "ninth"
      "tenth"
      "tenth"
      "eleventh"
      " twelfth"
      "thirteenth"
      "Fourteenth"
      "Fifteenth"
      "sixteenth"
      "Seventeenth"
      "Eighteenth"
      "Nineteenth"
      " Twentieth"
      "Twenty-first"
      "Twenty-first"
      "Twenty-second"
      "Twenty-third"
      "Twenty-fourth"
      "Twenty-fifth"
      "Twenty-sixth"
      "Twenty-sixth"
      "Twenty-seventh"
      "Twenty-eighth"
      " Twenty-ninth"
      "Thirtieth"
      " Thirty-first"
      "Thirty-second"
      "Thirty-third"
      "Thirty-fourth"
      "Thirty-fifth"
      "Thirty-sixth"
      "Thirty-seventh"
      "Thirty-eighth"
      "Thirty-eighth"
      "Thirty-ninth"
      "Forty"
      "forty-first"
      "forty-second"
      "forty-third"
      "forty-third"
      "forty-fourth"
      "forty-fifth"
      "forty-sixth"
      "forty-seventh"
      "forty-eighth"
      "forty-ninth"
      "Fiftieth"
      "sixstieth"
      "Fiftieth-first"
      " Fiftieth-second"
      "Fiftieth-third"
      "Fiftieth-ninth"
      "Fiftieth-fifth"
      "Fiftieth-sixth"
      "Fiftieth-sixth"
      "Fiftieth-seventh"
      "Fiftieth-fourth";
  }

  .header__nav {
    display: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 730px) {
  .section {
    display: none;
  }
  .header__nav {
    display: none;
  }

  .main__container {
    width: 400px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    grid-template-areas:
      "first second"
      "third fourth"
      "fifth sixth"
      "seventh seventh"
      "seventh seventh"
      "eighth eighth"
      "ninth ninth"
      "tenth eleventh"
      "twelfth thirteenth"
      "Fourteenth Fourteenth"
      "Fourteenth Fourteenth"
      " sixteenth Seventeenth"
      "Fifteenth Fifteenth"
      "Fifteenth Fifteenth"
      "Eighteenth Nineteenth"
      "Twentieth Twentieth"
      "Twentieth Twentieth"
      "Twenty-third Twenty-third"
      "Twenty-third Twenty-third"
      "Twenty-first Twenty-second"
      "Twenty-fourth Twenty-fourth"
      "Thirty-first Thirty-second "
      "Thirty-third Thirty-fourth"
      "Thirty-fifth Thirty-sixth"
      "Thirty-seventh Thirty-seventh"
      "Thirty-seventh Thirty-seventh"
      "Thirty-eighth Thirty-ninth"
      "Forty forty-first"
      "forty-second forty-third"
      "forty-fourth forty-fourth"
      "forty-fourth forty-fourth"
      "forty-fifth forty-fifth"
      "forty-fifth forty-fifth"
      "forty-sixth forty-seventh"
      "forty-eighth forty-eighth"
      "forty-eighth forty-eighth"
      "forty-ninth Fiftieth"
      "Fiftieth-first Fiftieth-second"
      "Fiftieth-third Fiftieth-third"
      "Fiftieth-third Fiftieth-third"
      "Fiftieth-fourth Fiftieth-fifth"
      "Fiftieth-sixth Fiftieth-sixth"
      "Fiftieth-sixth Fiftieth-sixth"
      "Fiftieth-ninth sixstieth";
  }
  .footer {
    margin-top: -200px;
  }
}
@media only screen and (min-width: 730px) and (max-width: 1035px) {
  .section {
    display: none;
  }

  .main__container {
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "first second third"
      "seventh seventh eighth"
      "seventh seventh eighth"
      "tenth eleventh twelfth"
      "Fifteenth Fifteenth sixteenth"
      "Fifteenth Fifteenth Eighteenth"
      "Twenty-first Twenty-second Twenty-third"
      "Twenty-fourth Twenty-fourth Twenty-third"
      "Twenty-fourth Twenty-fourth Twenty-seventh"
      "Thirty-first Thirty-second Thirty-third "
      "Thirty-seventh Thirty-seventh Thirty-eighth"
      "Thirty-seventh Thirty-seventh forty-second"
      "forty-fifth forty-fifth forty-sixth"
      "forty-fifth forty-fifth forty-eighth"
      "Fiftieth-first Fiftieth-second forty-eighth"
      "Fiftieth-fourth Fiftieth-fifth Fiftieth-sixth"
      "Fiftieth-seventh Fiftieth-eighth Fiftieth-sixth"
      "fourth fifth sixth"
      "thirteenth Fourteenth Fourteenth"
      "Seventeenth Fourteenth Fourteenth"
      " Nineteenth Twentieth Twentieth"
      "Twenty-eighth Twentieth Twentieth"
      "Twenty-ninth Thirtieth Thirty-fifth"
      "forty-third forty-fourth Thirty-fifth "
      "Fiftieth-third Fiftieth-third sixstieth";
  }
  .footer {
    margin-top: -250px;
  }
}

@media only screen and (min-width: 1035px) and (max-width: 1300px) {
  .section {
    width: 1000px;
  }
  .main__container {
    width: 1000px;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "first second third fourth "
      "fifth sixth ninth ninth"
      "Fourteenth Fourteenth ninth ninth"
      "Fourteenth Fourteenth Twentieth Twentieth"
      "Twenty-fifth Twenty-sixth Twentieth Twentieth"
      "Twenty-ninth Thirtieth Thirty-fifth Thirty-sixth"
      "Forty forty-first forty-fourth forty-fourth"
      "forty-ninth Fiftieth forty-fourth forty-fourth"
      "Fiftieth-third Fiftieth-third Fiftieth-ninth sixstieth"
      "Fiftieth-third Fiftieth-third Fiftieth-ninth sixstieth"
      "seventh seventh eighth eighth "
      "seventh seventh eighth eighth "
      "tenth eleventh twelfth thirteenth "
      "Fifteenth Fifteenth sixteenth Seventeenth "
      "Fifteenth Fifteenth Eighteenth Nineteenth  "
      "Twenty-first Twenty-second Twenty-third Twenty-third  "
      "Twenty-fourth Twenty-fourth Twenty-third Twenty-third  "
      "Twenty-fourth Twenty-fourth Twenty-seventh Twenty-eighth   "
      "Thirty-first Thirty-second Thirty-third Thirty-fourth  "
      "Thirty-seventh Thirty-seventh Thirty-eighth Thirty-ninth  "
      "Thirty-seventh Thirty-seventh forty-second forty-third  "
      "forty-fifth forty-fifth forty-sixth forty-seventh  "
      "forty-fifth forty-fifth forty-eighth forty-eighth  "
      "Fiftieth-first Fiftieth-second forty-eighth forty-eighth  "
      "Fiftieth-fourth Fiftieth-fifth Fiftieth-sixth Fiftieth-sixth  "
      "Fiftieth-seventh Fiftieth-eighth Fiftieth-sixth Fiftieth-sixth ";
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1600px) {
  .section {
    width: 1300px;
  }
  .main__container {
    width: 1300px;
    grid-gap: 1px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
      "first second third fourth fifth"
      "sixth seventh seventh eighth eighth"
      "tenth seventh seventh eighth eighth"
      "ninth ninth eleventh twelfth thirteenth"
      "ninth ninth sixteenth Fourteenth Fourteenth"
      "Fifteenth Fifteenth Seventeenth Fourteenth Fourteenth"
      "Fifteenth Fifteenth Eighteenth Nineteenth Twenty-first "
      " Twentieth Twentieth Twenty-second Twenty-third Twenty-third "
      "Twentieth  Twentieth Twenty-fourth Twenty-third Twenty-third"
      "Thirtieth Twenty-ninth Thirty-second  Twenty-eighth Twenty-seventh "
      "Thirty-seventh Thirty-seventh Thirty-eighth Thirty-ninth Forty"
      "Thirty-seventh Thirty-seventh forty-second forty-fourth forty-fourth"
      "forty-fifth forty-fifth forty-sixth forty-fourth forty-fourth "
      "forty-fifth forty-fifth forty-eighth  forty-eighth  forty-ninth "
      "Fiftieth-first Fiftieth-second forty-eighth forty-eighth Fiftieth "
      "Fiftieth-third Fiftieth-third Fiftieth-fifth Fiftieth-sixth Fiftieth-sixth "
      "Fiftieth-third Fiftieth-third Fiftieth-seventh Fiftieth-sixth Fiftieth-sixth "
      "Twenty-fifth Twenty-fifth Twenty-sixth Thirty-first Thirty-third "
      "Twenty-fifth Twenty-fifth Thirty-fifth Thirty-fifth Thirty-sixth"
      "forty-first forty-third Thirty-fifth Thirty-fifth forty-seventh "
      "Fiftieth-fourth forty-third  Fiftieth-ninth  sixstieth forty-seventh ";
  }
  .footer {
    margin-top: -230px;
  }
}
